<IfModule mod_rewrite.c>
    RewriteEngine On
    # Para redirigir todas las solicitudes al archivo index.php
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>
